body {
	z-index: 1;
	padding-bottom: 100px;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

.contactList, .conversations, .conversation {
	margin: 10px 0 20px;
}

.contactList .btn {
	margin: 2px 5px;
}

.conversation {
	padding: 10px 0;
}

.conversations > ul {
	list-style: none inside;
	padding: 0;
	margin: 0;
}

.conversations input[type=button] {
	display: none;
}

.conversation .messages {
	height: 200px;
	overflow: scroll;
	background: #fff;
	border: 1px solid #ddd;
}

.conversation .messages > ul {
	list-style: none inside;
	padding: 0;
	margin: 0;
}

.conversation .messages, .conversation input {
	font-size: 0.9em;
}

.conversation .message hr.ack {
	margin: 2px 0;
	border-top: 1px solid #eee;
}

.message.sending {
	background: #FAFAFA;
}
.message .direction {
	font-weight: normal;
	opacity: 0.7;
}

.message .status {
	font-size: 0.7em;
	text-transform: lowercase;
	display: inline-block;
	margin: 0 1em;
	padding: 0.1em 0.2em;
	float: right;
	font: sans-serif;
	opacity: 0.5;
}
.delivered .status.delivery {
	background: #EFD;
}
.sending .status.delivery {
	background: #FFD;
}

.message.outbound .sender {
	color: #3333DD;
}
.message.inbound .sender {
	color: #DD3333;
}

.contact .name {
	font-weight: bold;
}

.message .contact .name {
	font-weight: normal;
}

.contact .sid, .contact .sid > span {
	vertical-align: middle;
	display: inline-block;
	width: 6em;
}

.contact .sid {
	position: relative;
	font-family: monospace;
	z-index: 5;
}

.contact .sid > span {
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 0.5em;
	padding-right: 0.5em;
	opacity: 0.6;
	color: #333;
}

.contact .sid:hover > span {
	width: auto;
	overflow: visible;
	text-overflow: inherit;
	opacity: 1;
	background-color: #FFFFFF;
}
